{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="http://fonts.cdnfonts.com/css/glacial-indifference-2" rel="stylesheet">
                
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/JavaScript" src=" https://MomentJS.com/downloads/moment.js"></script>

    <link rel="stylesheet" href="{% static 'css/B_Dash.css' %}" />

    <title>SpotEzy</title>
  </head>

  <body>
    <div class="bgpage">
      <div class="navigation">
        <ul>
          <li class="top-logo">
            <a href="#">
              <span class="icon">
                <img src="{% static 'images/mono-white.svg' %}" alt=""
              /></span>
              <span class="title"
                ><img src="{% static 'images/logo-title.svg' %}" alt=""
              /></span>
            </a>
          </li>
          <li >
            <a
            href="{% url 'Dashboard-form1-page'  %}"
            data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="custom-tooltip"
              title="CREATE EVENT"
            >
              <span class="icon">
                <i class="bi bi-view-list"></i>
              </span>
              <span class="title">Create Event</span>
            </a>
          </li>

          <li class="current_pg">
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="custom-tooltip"
              title="CREATED EVENTS"
            >
              <span class="icon">
                <!-- <ion-icon name="people-outline"></ion-icon> -->
                <i class="bi bi-card-checklist"></i>
              </span>
              <span class="title">Created Events</span>
            </a>
          </li>
          <li>
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="custom-tooltip"
              title="PROFILE"
            >
              <span class="icon">
                <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
                <!-- <i class="bi bi-person-circle"></i> -->
                <i class="bi bi-person"></i>
              </span>
              <span class="title">Profile</span>
            </a>
          </li>
          <li>
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="custom-tooltip"
              title="HELP"
            >
              <span class="icon">
                <!-- <ion-icon name="help-circle-outline"></ion-icon> -->
                <i class="bi bi-question-circle"></i>
              </span>
              <span class="title">Help</span>
            </a>
          </li>
          <li>
            <a
              href="{% url 'logout' %}"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-custom-class="custom-tooltip"
              title="LOGOUT"
            >
              <span class="icon">
                <!-- <ion-icon name="log-out-outline"></ion-icon> -->
                <i class="bi bi-box-arrow-right"></i>
              </span>
              <span type="submit" class="title">Log Out</span>
            </a>
          </li>
        </ul>
        <div
          class="toggle"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-custom-class="custom-tooltip"
          title="Click"
        ></div>
      </div>

      <div class="main_right">

        <div class="viewpg">

          <h1 id="details">Event Details</h1>
          <hr>
          {% for i in eventinfo %}

          <div class="displayevent">

              <div id="imgitem1">
                {% if i.Event_img %}
                  <img src="{{i.Event_img.url}}" alt="">
                  {%endif%}
              </div>
              <div class="right">

                  <div id="righttop1">
                      <h2 id="header">{{i.Event_Name}}</h2>
                      <input type="hidden" id="cond" value="{{i.Startdate }}">
                      <input type="hidden" id="time_not_formated" value="{{i.Starttime }}">
                      <h2 id="detaildate"></h2>
                      <h2 id="detailtime"></h2>
                      <h1 id="detailcity"><i class="bi bi-geo"></i>&nbsp; &nbsp;{{i.City }}</h1>
                      
                      <div class="bottombtnn">
                        <div id="labell">
                          <h2>Spotit And Enjoy Your Event...</h2>                            
                        </div>                          
                          <a href="">
                            <div id="bnbtn">
                              GET YOUR TICKETS
                            </div>
                          </a>
                      </div>
                  </div>

                  <div id="rightbottom2">

                  </div>



              </div>





          </div>
          <div id="shortdescription">
            <h1>Event Description : </h1>

            {{i.Description|safe}}

          </div>

          <div id="termsnconditions">
            <h1>Terms and Conditions :</h1>

            {{i.TnC}}

          </div>

          {% endfor%}





      </div>

      </div>

    </div>




    <script src="{% static 'js/app.js' %}"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>


    <script>

      var d = document.getElementById("cond").value
      const dd = new Date(d)
      let tt = dd.getDate();
      let yy = dd.getFullYear();
      var monthName = dd.toLocaleString("default", { month: "long" });
      document.getElementById("detaildate").innerHTML = '<i class="bi bi-calendar"></i> &nbsp; &nbsp;' + tt + '&nbsp' + monthName + '&nbsp' + "," + '&nbsp' + yy + '&nbsp; &nbsp;';
      // document.getElementById("ticdate").innerHTML = tt + '&nbsp' + monthName + '&nbsp' + "," + '&nbsp' + yy + '&nbsp; &nbsp;';

      var t = document.getElementById("time_not_formated").value
      console.log(t)
      const number = moment(t, [ "HH.mm" ]).format("hh:mm a");
      document.getElementById("detailtime").innerHTML = '<i class="bi bi-clock"></i> &nbsp; &nbsp;' + number;
      // document.getElementById("tictime").innerHTML = '&vert; &nbsp' + number;





    </script>
  </body>
</html>
